*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto .5rem;
    font-family: sans-serif;
}

button{
    width: 50px;
    height: 50px;
    position: relative;
}

.tokendiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 5rem;
    height: fit-content;
    padding: .5rem .5rem;
    overflow-wrap: break-word;
    
}

.enter_team{
    display: none;
}

.apiinfo{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    height: fit-content;
    min-width: 5rem;
    padding: .5rem .5rem;
    border:2px solid black;
    margin-top: 1rem;
}

.apiinfo div:not(:first-child){
    margin-top: .5rem;
}

.token{
    display: flex;
    width: 100%;
    
}

.teamname_label,.tokenname_label{
    min-width: 6rem;
    width: 25%;
    height: fit-content;
    max-width: 7rem;
}

.tokenvalue{
    width: 50%;
    word-wrap: break-word;
}

.teamname{
    display:flex;
    flex-direction:row;
    
}

.apiinfo button{
    min-width: 7rem;
    height: 2rem;
    
    border:1px solid black;
    border-radius: 5px;
}

.apiinfo button:hover{
    background-color:blue;
    color:white
}


#defaultteam{
    display: none;
}



